.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.vertical-center {
  align-items: center;
}

.horizontal-center {
  justify-content: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-right {
  justify-content: flex-end;
}

.to-left {
  justify-content: flex-start;
}

.align-left {
  align-items: flex-start;
}

.to-top {
  align-items: flex-start;
}

.margin {
  margin: 0.5rem;
}

.margin-top {
    margin-top: 0.5rem;
}

.margin-t-80 {
  margin-top: 80px;
}

.margin-40-t {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

.margin-right {
  margin-right: 0.5rem;
}

.double-margin-right {
  margin-right: 1rem;
}

.margin-left {
  margin-left: 0.5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.padding {
  padding: 0.5rem;
}

.double-padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 0.5rem;
}

.padding-bottom {
  padding-bottom: 0.5rem;
}

.padding-right {
  padding-right: 0.5rem;
}

.padding-left {
  padding-left: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.header-1 {
  font-size: 2rem;
  font-weight: bold;
}

.sub-header-1 {
  font-size: 1rem;
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.link-label {
  font-size: 0.9rem;
  color: #000000;
  text-decoration: none;
}

.label {
  font-size: 0.8rem;
}

.label-small {
  font-size: 0.7rem;
}

.label-header {
  font-size: 0.9rem;
}

.italic {
  font-style: italic;
}

.saddle-brown {
  color: #8B4513;
}