.navbar {
  padding: 0 2rem ;
}

.header-logo {
  color: #000000;
  font-family: 'Rampart One', cursive;
}

.login-button {
  color: saddlebrown;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}