.navbar {
  padding: 0 2rem ;
}

.header-logo {
  color: #000000;
  font-family: 'Rampart One', cursive;
}

.login-button {
  display: flex;
  font-weight: 700;
  align-items: center;
  background: none;
}

.cart-button {
  display: flex;
  font-weight: 700;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid transparent;
    color: #747bff;
  }
}

.nav-link {
  font-weight: 700;
}